[submodule "packages/evil-plugins"]
	path = packages/evil-plugins
	url = https://github.com/tarao/evil-plugins.git
[submodule "packages/bookmark-plus"]
	path = packages/bookmark-plus
	url = https://github.com/emacsmirror/bookmark-plus.git
